@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
}

.mosaic.mosaic-blueprint-theme {
  background: #E6F4F1;
  height: 95%;
}

.mosaic.mosaic-blueprint-theme .mosaic-window, .mosaic.mosaic-blueprint-theme .mosaic-preview {
  border-radius: 7px;
}

.mosaic.mosaic-blueprint-theme .mosaic-window .mosaic-window-toolbar, .mosaic.mosaic-blueprint-theme .mosaic-preview .mosaic-window-toolbar {
  box-shadow: none;
}
